<h1>Spreadsheet#index</h1>
<p>Find me in app/views/spreadsheet/index.html.erb</p>

<section id="active_users" data-controller="spreadsheet">
  <h2>Active users</h2>

  <ul data-spreadsheet-target="list"></ul>

  <section id="spreadsheet"></section>

</section>